{% extends 'Main/base.html' %}

{% load static %}
{% block content %}



   <section class="account">
         
      <div class="account_overview_block">
         <div class="heading">
            <h1>Account</h1>
         </div>
         <div class="profile_details">
            <div class="header">
               <h1>Profile Details</h1>
               <a class="btn" href="{% url 'edit-profile' %}">Edit profile</a>
            </div>
               <ul class="main_info_block_profile_details">
                  <li>
                     <p>Username</p>
                     <span>{{ form.username }}</span>
                  </li>
                  <li>
                     <p>Email</p>
                     <span>{{ form.email }}</span>
                  </li>
               </ul>
            </div>
            <div class="logout">
               <p>Log out</p>
            </div>
         </div>

      </section>

      {% endblock %}