{% extends 'Main/base.html' %}

{% load static %}
{% block content %}
   
      <section class="login-form-container">


         <form method="POST">
            <h3>Login to account</h3>
            {% csrf_token %}
            <label ><!--for="email"-->
               <span>Email</span>
<!--               <input type="email" name="email" class="box" placeholder="Enter your email">-->
               {{ form.email }}
            </label>

            <label > <!--for="password"-->
               <span>Password</span>
<!--               <input type="password" name="password" class="box" placeholder="Enter your password">-->
               {{ form.password }}
            </label>
            <button type="submit" class="btn">sign in</button>

            <div class="error_message">
               {% for message in messages %}
                  <p>{{ message }}</p>
               {% endfor %}
            </div>

            <div class="additionally_services_auth_block">
               <a href="{% url 'register' %}" class="btn-another" style="text-align:center">register</a>
            </div>
         </form>

      </section>

{% endblock %}