{% extends 'Main/base.html' %}
<head>
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'assets/mwstyle.css' %}">
</head>
<div class="nav">
         <nav class="navbar">
            <a href="{% url 'man' %}">Man</a>
            <a href="{% url 'woman' %}">Woman</a>
         </nav>
</div>
<section class="container">

         <div class="column filter category">
            <h3>Category</h3>
            <ul class="filter-list">
               {% if categories %}
                <li><a href="/man/?categories=6">T-shirts</a></li>
                <li><a href="/man/?categories=9">Sportswear</a></li>
                <li><a href="/man/?categories=8">Sneakers</a></li>
                <li><a href="/man/?categories=3">Sweaters</a></li>
                {% endif %}
            </ul>
         </div>


         <div class="column">
            <div class="filter price-size">
               <label for="price" class="selected_container_block">
                  <select onchange="window.location.href = this.value;" class="form-control price_select_items" name="price" id="price">
                     <option value="">Price</option>
                      {% if prices %}
                      {% for price in prices %}
                       <option value="/man/?prices={{price.id}}">{{ price.price }}</option>
                      {% endfor %}
                      {% endif %}
                  </select>
               </label>

               <label for="size" class="selected_container_block">
                  <select onchange="window.location.href = this.value;" class="form-control size_select_items" name="size" id="size">
                     <option value="">Size</option>
                      {% if sizes %}
                      {% for size in sizes %}
                        <option value="/man/?sizes={{size.id}}">{{ size.size }}</option>
                      {% endfor %}
                      {% endif %}
                  </select>
               </label>
            </div>

             <section class="section-p1">
               <h4 class="numberOfItems">30 Product</h4>

                   <div class="pro-container">
                       {% for man in men_unique %}
                          <div class ="pro">

                              <a href="{% url 'detail' man.id %}"><img src="{{ man.image.url }}" alt=""></a>
                                 <div class="content">
                                    <h3 class="title">{{ man.name }}</h3>
                                    <div class="price">${{ man.price }}</div>
                                 </div>

                          </div>
                       {% endfor %}

                   </div>

            </section>

         </div>

      </section>

{% endblock %}